In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [39]:
data_clean = pd.read_csv("selected_users_data.csv", encoding="utf8")
anime_data = pd.read_csv("anime-dataset-2023.csv", encoding="utf8")

In [40]:
data_clean.head()

   user_id Username  anime_id                          Anime Title  rating
0      436  Katsuki      6408               "Bungaku Shoujo" Movie       8
1      436  Katsuki        48                          .hack//Sign       8
2      436  Katsuki      1487                        .hack//Unison       6
3      436  Katsuki      6682                               11eyes       6
4      436  Katsuki     32601  12-sai.: Chicchana Mune no Tokimeki       7

In [41]:
print(data_clean[data_clean['anime_id']  == 35790])

         user_id       Username  anime_id                  Anime Title  rating
1572         436        Katsuki     35790  Tate no Yuusha no Nariagari       3
4498        1475       otaku515     35790  Tate no Yuusha no Nariagari       8
7507        2152       leapylee     35790  Tate no Yuusha no Nariagari       8
10309       2276          Sitha     35790  Tate no Yuusha no Nariagari       8
14649       3380  Tracer_Senpai     35790  Tate no Yuusha no Nariagari       8
...          ...            ...       ...                          ...     ...
1482270  1281059      BakaKaito     35790  Tate no Yuusha no Nariagari      10
1483330  1281765    RaphaelRobo     35790  Tate no Yuusha no Nariagari       5
1484996  1283219       Spade_X3     35790  Tate no Yuusha no Nariagari       9
1486026  1286093       JadeRuby     35790  Tate no Yuusha no Nariagari       9
1488813  1288175           GPJW     35790  Tate no Yuusha no Nariagari       8

[659 rows x 5 columns]

In [42]:
userRatings = data_clean.pivot_table(index=['user_id'], columns=['anime_id'], values='rating')

In [43]:
userRatings.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,55591,55610,55616,55640,55647,55651,55676,55720,55818,55878
user_id,,,,,,,,,,,,,,,,,,,,,
436,10.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1105,NaN,NaN,NaN,8.0,8.0,9.0,8.0,8.0,8.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,8.0,8.0,9.0,8.0,6.0,NaN,7.0,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,9.0,9.0,7.0,8.0,NaN,2.0,9.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152,9.0,NaN,7.0,6.0,NaN,7.0,9.0,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# corrMatrix = userRatings.corr()
# corrMatrix.head()

In [45]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,55591,55610,55616,55640,55647,55651,55676,55720,55818,55878
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.681431,0.395349,0.164356,NaN,0.075726,0.274922,NaN,0.130332,0.269442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.681431,1.000000,0.372474,0.291962,NaN,0.134779,0.353331,NaN,0.291438,0.232459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.395349,0.372474,1.000000,0.382751,NaN,0.422252,0.238861,NaN,0.279971,0.282031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.164356,0.291962,0.382751,1.000000,NaN,0.396429,0.304207,NaN,NaN,0.242884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# myRatings = userRatings.loc[9522].dropna()
# data_dict = {14813: 10, 37779: 10, 37430: 10, 2566: 2}
# data_dict = {17389: 8, 35790: 8, 1735: 9, 16498: 9}

new_ratings = []
for _ in range(5):  # Assume the user rates 5 animes (adjust as needed)
    anime_id = input("Enter Anime ID: ")
    rating = float(input("Enter Rating (between 1 and 10): "))
    new_ratings.append((int(anime_id), rating))

print(new_ratings)
print(dict(new_ratings))
myRatings = pd.Series(dict(new_ratings))
print(myRatings)
myRatings

[(14813, 10.0), (37779, 10.0), (37430, 10.0), (2566, 2.0), (17389, 5.0)]
{14813: 10.0, 37779: 10.0, 37430: 10.0, 2566: 2.0, 17389: 5.0}
14813    10.0
37779    10.0
37430    10.0
2566      2.0
17389     5.0
dtype: float64

14813    10.0
37779    10.0
37430    10.0
2566      2.0
17389     5.0
dtype: float64

In [47]:
anime_id_to_check = 2566

if anime_id_to_check in corrMatrix.columns:
    print(f"Anime ID {anime_id_to_check} is present in the correlation matrix.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in the correlation matrix.")

Anime ID 2566 is present in the correlation matrix.

In [48]:
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
    # print("Adding sims for " + str(myRatings.index[i]) + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    # sims = sims.map(lambda x: x * myRatings[i])
    sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
    # simCandidates = simCandidates.append(sims)
    simCandidates = pd.concat([simCandidates, sims])
    
print("sorting...")
simCandidates.sort_values(inplace= True, ascending= False)

user_input_anime_ids = [anime_id for anime_id, _ in new_ratings]
simCandidates = simCandidates[~simCandidates.index.isin(user_input_anime_ids)]
top_5_results = simCandidates.head(10)
anime_df = top_5_results.reset_index(name='weight_score')

# Merge with the anime_data DataFrame to retrieve title and score
result_df = pd.merge(anime_df, anime_data, how='left', left_on='index', right_on='anime_id')
print(result_df)
result_df = result_df[['anime_id', 'Name', 'Score']]

# Print the resulting DataFrame
result_df

sorting...
   index  weight_score  anime_id  \
0  39551      7.819841     39551
1  52173      7.333206     52173
2  41487      7.162430     41487
3  15807      7.044017     15807
4  39607      6.918566     39607
5  35790      6.669680     35790
6  38793      6.542008     38793
7  21635      6.434329     21635
8  43439      6.349661     43439
9  38691      6.272605     38691

                                                Name  \
0          Tensei shitara Slime Datta Ken 2nd Season
1      Koori Zokusei Danshi to Cool na Douryou Joshi
2   Tensei shitara Slime Datta Ken 2nd Season Part 2
3                Ro-Kyu-Bu!: Tomoka no Ichigo Sundae
4  Tensei shitara Slime Datta Ken: Kanwa - Veldor...
5                        Tate no Yuusha no Nariagari
6                 Tensei shitara Slime Datta Ken OVA
7                                             GJ-bu@
8                                      Shadows House
9                                          Dr. Stone

                                        English name  \
0   That Time I Got Reincarnated as a Slime Season 2
1          The Ice Guy and His Cool Female Colleague
2  That Time I Got Reincarnated as a Slime Season...
3                                            UNKNOWN
4  That Time I Got Reincarnated as a Slime: Tales...
5                      The Rising of the Shield Hero
6        That Time I Got Reincarnated as a Slime OAD
7                                            UNKNOWN
8                                      Shadows House
9                                          Dr. Stone

                  Other name Score                              Genres  \
0              転生したらスライムだった件  8.39  Action, Adventure, Comedy, Fantasy
1             氷属性男子とクールな同僚女子  7.34            Comedy, Fantasy, Romance
2              転生したらスライムだった件  8.33  Action, Adventure, Comedy, Fantasy
3          ロウきゅーぶ！智花のいちごサンデー  6.94               Comedy, Sports, Ecchi
4  転生したらスライムだった件 閑話: ヴェルドラ日記  6.71                     Comedy, Fantasy
5                 盾の勇者の成り上がり  7.98   Action, Adventure, Drama, Fantasy
6          転生したらスライムだった件 OVA  7.49  Action, Adventure, Comedy, Fantasy
7                       GJ部@  7.23               Comedy, Slice of Life
8                    シャドーハウス  7.79                    Fantasy, Mystery
9                   ドクターストーン  8.29           Adventure, Comedy, Sci-Fi

                                            Synopsis     Type  ...  \
0  Taking a break from his time as a teacher, the...       TV  ...
1  Kind-hearted Himuro-kun is unfortunate: when i...       TV  ...
2  The nation of Tempest is in a festive mood aft...       TV  ...
3  Ro-Kyu-Bu! OVA bundled with the PlayStation Po...      OVA  ...
4  Ifrit, who has been trapped in Rimuru due to t...  Special  ...
5  The Four Cardinal Heroes are a group of ordina...       TV  ...
6  One day, Shuna and Shion are fighting over Rim...      OVA  ...
7  During the school's spring break, Kyouya "Kyor...  Special  ...
8  The Shadows, characterized by their pitch-blac...       TV  ...
9  After five years of harboring unspoken feeling...       TV  ...

             Studios       Source       Duration                     Rating  \
0               8bit        Manga  23 min per ep  PG-13 - Teens 13 or older
1      Zero-G, Liber    Web manga  23 min per ep  PG-13 - Teens 13 or older
2               8bit        Manga  23 min per ep  PG-13 - Teens 13 or older
3       Project No.9      Unknown         25 min  PG-13 - Teens 13 or older
4               8bit        Manga         23 min  PG-13 - Teens 13 or older
5      Kinema Citrus  Light novel  24 min per ep  PG-13 - Teens 13 or older
6               8bit        Manga  23 min per ep  PG-13 - Teens 13 or older
7          Doga Kobo  Light novel         46 min  PG-13 - Teens 13 or older
8        CloverWorks        Manga  23 min per ep  PG-13 - Teens 13 or older
9  TMS Entertainment        Manga  24 min per ep  PG-13 - Teens 13 or older

     Rank Popularity Favorites Scored By  Members  \
0   183.0        181     10380  499482.0   874549
1  2330.0       1325       978   60588.0   164966
2   218.0        276     10456  386548.0   681665
3  4217.0       4871         8    8632.0    17252
4  5262.0       1770       168   64137.0   114370
5   612.0         69     25354  932274.0  1497962
6  1728.0       1041       491  107254.0   215775
7  2873.0       3457        26   19345.0    36647
8   948.0        978      1806   91720.0   229346
9   255.0         55     27001  986159.0  1630125

                                           Image URL
0  https://cdn.myanimelist.net/images/anime/1271/...
1  https://cdn.myanimelist.net/images/anime/1927/...
2  https://cdn.myanimelist.net/images/anime/1033/...
3  https://cdn.myanimelist.net/images/anime/10/43...
4  https://cdn.myanimelist.net/images/anime/1672/...
5  https://cdn.myanimelist.net/images/anime/1490/...
6  https://cdn.myanimelist.net/images/anime/1230/...
7  https://cdn.myanimelist.net/images/anime/4/603...
8  https://cdn.myanimelist.net/images/anime/1424/...
9  https://cdn.myanimelist.net/images/anime/1613/...

[10 rows x 26 columns]

C:\Users\Roze\AppData\Local\Temp\ipykernel_9968\1540976389.py:8: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = pd.concat([simCandidates, sims])

   anime_id                                               Name Score
0     39551          Tensei shitara Slime Datta Ken 2nd Season  8.39
1     52173      Koori Zokusei Danshi to Cool na Douryou Joshi  7.34
2     41487   Tensei shitara Slime Datta Ken 2nd Season Part 2  8.33
3     15807                Ro-Kyu-Bu!: Tomoka no Ichigo Sundae  6.94
4     39607  Tensei shitara Slime Datta Ken: Kanwa - Veldor...  6.71
5     35790                        Tate no Yuusha no Nariagari  7.98
6     38793                 Tensei shitara Slime Datta Ken OVA  7.49
7     21635                                             GJ-bu@  7.23
8     43439                                      Shadows House  7.79
9     38691                                          Dr. Stone  8.29

In [52]:
anime_id_to_check = 2566

if anime_id_to_check in simCandidates.index:
    print(f"Data with anime_id {anime_id_to_check} is present in simCandidates.")
else:
    print(f"Data with anime_id {anime_id_to_check} is not present in simCandidates.")

found = False
for position, anime_id in enumerate(simCandidates.index, start=1):
    if anime_id == anime_id_to_check:
        found = True
        break

if found:
    print(f"Anime ID {anime_id_to_check} is ranked #{position} in simCandidates.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in simCandidates.")

Data with anime_id 2566 is not present in simCandidates.
Anime ID 2566 is not present in simCandidates.

In [51]:
index_to_check = 2566

try:
    anime_id_at_index = simCandidates.index[index_to_check - 1]
    print(f"The anime ID at index {index_to_check} in simCandidates is {anime_id_at_index}.")
except IndexError:
    print(f"Index {index_to_check} is out of bounds for simCandidates.")

The anime ID at index 2566 in simCandidates is 150.