In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

C:\Users\Roze\AppData\Local\Temp\ipykernel_14968\4086620180.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv("rating_complete.csv", encoding="utf8")
data.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [3]:
data_clean = data[data['user_id'] <= 10000]
data_clean.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [37]:
print(data_clean[data_clean['anime_id']  == 14813])

         user_id  anime_id  rating
94             1     14813       8
225            3     14813       8
989            7     14813       7
1192          11     14813       8
1284          12     14813      10
...          ...       ...     ...
1581619     9990     14813       7
1581795     9991     14813       8
1582800     9993     14813       8
1583395     9998     14813       9
1583646     9999     14813       9

[2507 rows x 3 columns]

In [4]:
userRatings = data_clean.pivot_table(index=['user_id'], columns=['anime_id'], values='rating')

In [5]:
userRatings.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,45753,46491,46735,47307,47398,47402,47614,47616,47618,48456
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
corrMatrix = userRatings.corr()
corrMatrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,45753,46491,46735,47307,47398,47402,47614,47616,47618,48456
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.598748,0.400533,0.156140,-0.381299,7.382431e-02,0.262042,0.553196,0.239082,0.306057,...,0.732365,-0.520416,NaN,NaN,-0.054074,NaN,NaN,-0.031575,NaN,NaN
5,0.598748,1.000000,0.337087,0.199205,-0.014470,1.758199e-01,0.352695,0.340259,0.322797,0.300110,...,0.333746,-0.100000,NaN,NaN,-0.347761,NaN,NaN,0.238302,NaN,NaN
6,0.400533,0.337087,1.000000,0.277207,0.095047,2.067626e-01,0.302071,0.436211,0.341178,0.264341,...,0.363833,-0.387298,NaN,NaN,0.043472,NaN,NaN,-0.196116,NaN,NaN
7,0.156140,0.199205,0.277207,1.000000,0.883969,4.183984e-01,0.338785,0.444941,0.439366,0.372231,...,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,-0.381299,-0.014470,0.095047,0.883969,1.000000,4.404862e-16,0.749121,0.100402,-0.276564,0.069634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,45753,46491,46735,47307,47398,47402,47614,47616,47618,48456
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.598748,0.400533,0.156140,NaN,0.073824,0.262042,NaN,0.239082,0.306057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.598748,1.000000,0.337087,0.199205,NaN,NaN,0.352695,NaN,0.322797,0.300110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.400533,0.337087,1.000000,0.277207,NaN,0.206763,0.302071,NaN,0.341178,0.264341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.156140,0.199205,0.277207,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# myRatings = userRatings.loc[9522].dropna()
# data_dict = {14813: 10, 37779: 10, 37430: 10, 2566: 2}
data_dict = {17389: 8, 35790: 8, 1735: 9, 16498: 9}
myRatings = pd.Series(data_dict)
myRatings

17389    8
35790    8
1735     9
16498    9
dtype: int64

In [69]:
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
    # print("Adding sims for " + str(myRatings.index[i]) + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    # sims = sims.map(lambda x: x * myRatings[i])
    sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
    # simCandidates = simCandidates.append(sims)
    simCandidates = pd.concat([simCandidates, sims])
    
print("sorting...")
simCandidates.sort_values(inplace= True, ascending= False)
# print(simCandidates.size)
print(simCandidates.head(10))

sorting...
1735     9.000000
16498    9.000000
35790    8.000000
25777    6.002171
20       5.890710
30694    5.432588
22043    5.292405
34055    5.274938
18397    5.205290
269      5.199094
dtype: float64

C:\Users\Roze\AppData\Local\Temp\ipykernel_14968\1375503203.py:8: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = pd.concat([simCandidates, sims])

In [67]:
anime_id_to_check = 14813

if anime_id_to_check in simCandidates.index:
    print(f"Data with anime_id {anime_id_to_check} is present in simCandidates.")
else:
    print(f"Data with anime_id {anime_id_to_check} is not present in simCandidates.")

found = False
for position, anime_id in enumerate(simCandidates.index, start=1):
    if anime_id == anime_id_to_check:
        found = True
        break

if found:
    print(f"Anime ID {anime_id_to_check} is ranked #{position} in simCandidates.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in simCandidates.")

Data with anime_id 14813 is present in simCandidates.
Anime ID 14813 is ranked #1347 in simCandidates.

In [66]:
index_to_check = 1347

try:
    anime_id_at_index = simCandidates.index[index_to_check - 1]
    print(f"The anime ID at index {index_to_check} in simCandidates is {anime_id_at_index}.")
except IndexError:
    print(f"Index {index_to_check} is out of bounds for simCandidates.")

The anime ID at index 1347 in simCandidates is 14813.