In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [2]:
data_clean = pd.read_csv("selected_users_data.csv", encoding="utf8")
anime_data = pd.read_csv("anime-dataset-2023.csv", encoding="utf8")

In [3]:
data_clean.head()

   user_id Username  anime_id                          Anime Title  rating
0      436  Katsuki      6408               "Bungaku Shoujo" Movie       8
1      436  Katsuki        48                          .hack//Sign       8
2      436  Katsuki      1487                        .hack//Unison       6
3      436  Katsuki      6682                               11eyes       6
4      436  Katsuki     32601  12-sai.: Chicchana Mune no Tokimeki       7

In [4]:
print(data_clean[data_clean['anime_id']  == 35790])

         user_id       Username  anime_id                  Anime Title  rating
1572         436        Katsuki     35790  Tate no Yuusha no Nariagari       3
4498        1475       otaku515     35790  Tate no Yuusha no Nariagari       8
7507        2152       leapylee     35790  Tate no Yuusha no Nariagari       8
10309       2276          Sitha     35790  Tate no Yuusha no Nariagari       8
14649       3380  Tracer_Senpai     35790  Tate no Yuusha no Nariagari       8
...          ...            ...       ...                          ...     ...
1482270  1281059      BakaKaito     35790  Tate no Yuusha no Nariagari      10
1483330  1281765    RaphaelRobo     35790  Tate no Yuusha no Nariagari       5
1484996  1283219       Spade_X3     35790  Tate no Yuusha no Nariagari       9
1486026  1286093       JadeRuby     35790  Tate no Yuusha no Nariagari       9
1488813  1288175           GPJW     35790  Tate no Yuusha no Nariagari       8

[659 rows x 5 columns]

In [5]:
userRatings = data_clean.pivot_table(index=['user_id'], columns=['anime_id'], values='rating')

In [6]:
userRatings.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,55591,55610,55616,55640,55647,55651,55676,55720,55818,55878
user_id,,,,,,,,,,,,,,,,,,,,,
436,10.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1105,NaN,NaN,NaN,8.0,8.0,9.0,8.0,8.0,8.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,8.0,8.0,9.0,8.0,6.0,NaN,7.0,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,9.0,9.0,7.0,8.0,NaN,2.0,9.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152,9.0,NaN,7.0,6.0,NaN,7.0,9.0,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
userRatings.shape

(1351, 14994)

In [8]:
# corrMatrix = userRatings.corr()
# corrMatrix.head()

In [9]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,55591,55610,55616,55640,55647,55651,55676,55720,55818,55878
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.681431,0.395349,0.164356,NaN,0.075726,0.274922,NaN,0.130332,0.269442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.681431,1.000000,0.372474,0.291962,NaN,0.134779,0.353331,NaN,0.291438,0.232459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.395349,0.372474,1.000000,0.382751,NaN,0.422252,0.238861,NaN,0.279971,0.282031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.164356,0.291962,0.382751,1.000000,NaN,0.396429,0.304207,NaN,NaN,0.242884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
corrMatrix.size
corrMatrix.shape

(14994, 14994)

In [11]:
# myRatings = userRatings.loc[9522].dropna()
# data_dict = {14813: 10, 37779: 10, 37430: 10, 2566: 2}
# data_dict = {17389: 8, 35790: 8, 1735: 9, 16498: 9}

new_ratings = []
for _ in range(5):  # Assume the user rates 5 animes (adjust as needed)
    anime_id = input("Enter Anime ID: ")
    rating = float(input("Enter Rating (between 1 and 10): "))
    new_ratings.append((int(anime_id), rating))

print(new_ratings)
print(dict(new_ratings))
myRatings = pd.Series(dict(new_ratings))
print(myRatings)
myRatings

[(17389, 8.0), (35790, 8.0), (1735, 9.0), (16498, 9.0), (14813, 10.0)]
{17389: 8.0, 35790: 8.0, 1735: 9.0, 16498: 9.0, 14813: 10.0}
17389     8.0
35790     8.0
1735      9.0
16498     9.0
14813    10.0
dtype: float64

17389     8.0
35790     8.0
1735      9.0
16498     9.0
14813    10.0
dtype: float64

In [12]:
anime_id_to_check = 2566

if anime_id_to_check in corrMatrix.columns:
    print(f"Anime ID {anime_id_to_check} is present in the correlation matrix.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in the correlation matrix.")

Anime ID 2566 is present in the correlation matrix.

In [17]:
# simCandidates = pd.Series()
# for i in range(1, len(myRatings.index)):
#     # print("Adding sims for " + str(myRatings.index[i]) + "...")
#     sims = corrMatrix[myRatings.index[i]].dropna()
#     # sims = sims.map(lambda x: x * myRatings[i])
#     sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
#     # simCandidates = simCandidates.append(sims)
#     simCandidates = pd.concat([simCandidates, sims])

# print(simCandidates)
    
# print("sorting...")
# simCandidates.sort_values(inplace= True, ascending= False)

# simCandidates = simCandidates.groupby(simCandidates.index).sum()
# user_input_anime_ids = [anime_id for anime_id, _ in new_ratings]
# simCandidates = simCandidates[~simCandidates.index.isin(user_input_anime_ids)]
# top_5_results = simCandidates.head(10)
# anime_df = top_5_results.reset_index(name='weight_score')

# # Merge with the anime_data DataFrame to retrieve title and score
# result_df = pd.merge(anime_df, anime_data, how='left', left_on='index', right_on='anime_id')
# print(result_df)
# result_df = result_df[['anime_id', 'Name', 'Score']]

# # Print the resulting DataFrame
# result_df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4732\402899971.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCandidates = pd.Series()

1        1.080048
5        1.875558
6        2.517208
7        1.648355
15       3.135484
           ...
53126    2.870204
53393    1.499324
53411    2.093488
53446    2.589264
53613    2.014435
Length: 12285, dtype: float64
sorting...
   index  weight_score  anime_id                             Name  \
0      1      4.216046         1                     Cowboy Bebop
1      5      8.444944         5  Cowboy Bebop: Tengoku no Tobira
2      6      9.255371         6                           Trigun
3      7     11.263260         7               Witch Hunter Robin
4     15     14.544441        15                     Eyeshield 21
5     16      6.743119        16             Hachimitsu to Clover
6     18     12.359723        18           Initial D Fourth Stage
7     19      5.512912        19                          Monster
8     20     16.503164        20                           Naruto
9     21     11.480742        21                        One Piece

              English name                        Other name Score  \
0             Cowboy Bebop                         カウボーイビバップ  8.75
1  Cowboy Bebop: The Movie                    カウボーイビバップ 天国の扉  8.38
2                   Trigun                             トライガン  8.22
3       Witch Hunter Robin  Witch Hunter ROBIN (ウイッチハンターロビン)  7.25
4                  UNKNOWN                          アイシールド21  7.92
5         Honey and Clover                        ハチミツとクローバー   8.0
6                  UNKNOWN          頭文字〈イニシャル〉D FOURTH STAGE  8.16
7                  Monster                             モンスター  8.87
8                   Naruto                               ナルト  7.99
9                One Piece                         ONE PIECE  8.69

                                 Genres  \
0         Action, Award Winning, Sci-Fi
1                        Action, Sci-Fi
2             Action, Adventure, Sci-Fi
3  Action, Drama, Mystery, Supernatural
4                                Sports
5                Comedy, Drama, Romance
6                         Action, Drama
7              Drama, Mystery, Suspense
8            Action, Adventure, Fantasy
9            Action, Adventure, Fantasy

                                            Synopsis   Type  ...  \
0  Crime is timeless. By the year 2071, humanity ...     TV  ...
1  Another day, another bounty—such is the life o...  Movie  ...
2  Vash the Stampede is the man with a $$60,000,0...     TV  ...
3  Robin Sena is a powerful craft user drafted in...     TV  ...
4  Shy, reserved, and small-statured, Deimon High...     TV  ...
5  Yuuta Takemoto, a sophomore at an arts college...     TV  ...
6  Takumi Fujiwara finally joins Ryousuke and Kei...     TV  ...
7  Dr. Kenzou Tenma, an elite neurosurgeon recent...     TV  ...
8  Moments prior to Naruto Uzumaki's birth, a hug...     TV  ...
9  Gol D. Roger was known as the "Pirate King," t...     TV  ...

          Studios    Source       Duration                          Rating  \
0         Sunrise  Original  24 min per ep  R - 17+ (violence & profanity)
1           Bones  Original    1 hr 55 min  R - 17+ (violence & profanity)
2        Madhouse     Manga  24 min per ep       PG-13 - Teens 13 or older
3         Sunrise  Original  25 min per ep       PG-13 - Teens 13 or older
4          Gallop     Manga  23 min per ep       PG-13 - Teens 13 or older
5       J.C.Staff     Manga  23 min per ep       PG-13 - Teens 13 or older
6        A.C.G.T.     Manga  27 min per ep       PG-13 - Teens 13 or older
7        Madhouse     Manga  24 min per ep                R+ - Mild Nudity
8         Pierrot     Manga  23 min per ep       PG-13 - Teens 13 or older
9  Toei Animation     Manga         24 min       PG-13 - Teens 13 or older

     Rank Popularity Favorites  Scored By  Members  \
0    41.0         43     78525   914193.0  1771505
1   189.0        602      1448   206248.0   360978
2   328.0        246     15035   356739.0   727252
3  2764.0       1795       613    42829.0   111931
4   688.0       1252      1997    86524.0   177688
5   589.0        862      4136    81747.0   260166
6   393.0       1273      1237    97878.0   173710
7    26.0        142     47235   368569.0  1013100
8   599.0          8     76343  1883772.0  2717330
9    55.0         20    198986  1226493.0  2168904

                                           Image URL
0  https://cdn.myanimelist.net/images/anime/4/196...
1  https://cdn.myanimelist.net/images/anime/1439/...
2  https://cdn.myanimelist.net/images/anime/7/203...
3  https://cdn.myanimelist.net/images/anime/10/19...
4  https://cdn.myanimelist.net/images/anime/1079/...
5  https://cdn.myanimelist.net/images/anime/1301/...
6  https://cdn.myanimelist.net/images/anime/9/105...
7  https://cdn.myanimelist.net/images/anime/10/18...
8  https://cdn.myanimelist.net/images/anime/13/17...
9  https://cdn.myanimelist.net/images/anime/6/732...

[10 rows x 26 columns]

   anime_id                             Name Score
0         1                     Cowboy Bebop  8.75
1         5  Cowboy Bebop: Tengoku no Tobira  8.38
2         6                           Trigun  8.22
3         7               Witch Hunter Robin  7.25
4        15                     Eyeshield 21  7.92
5        16             Hachimitsu to Clover   8.0
6        18           Initial D Fourth Stage  8.16
7        19                          Monster  8.87
8        20                           Naruto  7.99
9        21                        One Piece  8.69

In [14]:
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
    # print("Adding sims for " + str(myRatings.index[i]) + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    # sims = sims.map(lambda x: x * myRatings[i])
    sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
    # simCandidates = simCandidates.append(sims)
    simCandidates = pd.concat([simCandidates, sims])
    
print(simCandidates)
# Check if there are any duplicates
has_duplicates = simCandidates.duplicated().any()

if has_duplicates:
    duplicate_values = simCandidates[simCandidates.duplicated()]
    print("Duplicate values:", duplicate_values)

simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates = simCandidates.drop(myRatings.index)

print("sorting...")
simCandidates.sort_values(inplace= True, ascending= False)

# user_input_anime_ids = [anime_id for anime_id, _ in new_ratings]
# simCandidates = simCandidates[~simCandidates.index.isin(user_input_anime_ids)]
top_5_results = simCandidates.head(10)
anime_df = top_5_results.reset_index(name='weight_score')

# Merge with the anime_data DataFrame to retrieve title and score
result_df = pd.merge(anime_df, anime_data, how='left', left_on='index', right_on='anime_id')
print(result_df)
result_df = result_df[['anime_id', 'Name', 'Score']]

# Print the resulting DataFrame
result_df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4732\635299763.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCandidates = pd.Series()

1        1.080048
5        1.875558
6        2.517208
7        1.648355
15       3.135484
           ...
53126    2.870204
53393    1.499324
53411    2.093488
53446    2.589264
53613    2.014435
Length: 12285, dtype: float64
Duplicate values: 1735     3.662376
16498    9.000000
dtype: float64
sorting...
   index  weight_score  anime_id  \
0  18045     19.675152     18045
1  31553     17.946728     31553
2  11757     17.943560     11757
3  36896     17.847813     36896
4  30127     17.807601     30127
5   9919     17.718770      9919
6  18753     17.533542     18753
7  11021     17.449761     11021
8  39565     17.429689     39565
9  13939     17.425888     13939

                                                Name  \
0            Koi to Senkyo to Chocolate: Koi Imouto!
1                        Charlotte: Tsuyoimono-tachi
2                                   Sword Art Online
3  Boku no Hero Academia the Movie 1: Futari no Hero
4                                          Danchigai
5                                     Ao no Exorcist
6  Yahari Ore no Seishun Love Comedy wa Machigatt...
7                 Muv-Luv Alternative: Total Eclipse
8   Boku no Hero Academia the Movie 2: Heroes:Rising
9                                     Accel World EX

                         English name  \
0                             UNKNOWN
1          Charlotte: The Strong Ones
2                    Sword Art Online
3        My Hero Academia: Two Heroes
4                           Danchigai
5                       Blue Exorcist
6   My Teen Romantic Comedy SNAFU OVA
7  Muv-Luv Alternative: Total Eclipse
8     My Hero Academia: Heroes Rising
9                             UNKNOWN

                                          Other name Score  \
0                              恋と選挙とチョコレート 第13話「恋妹！」  6.83
1                         Charlotte（シャーロット）特別篇 強い者たち  7.49
2                                       ソードアート・オンライン   7.2
3                僕のヒーローアカデミア THE MOVIE ～2人の英雄（ヒーロー）～  7.56
4                                              だんちがい   6.5
5                                      青の祓魔師(エクソシスト)   7.5
6  やはり俺の青春ラブコメはまちがっている。OVA「こちらとしても彼ら彼女らの行く末に幸多からん...  7.59
7                           マブラヴ オルタネイティヴ トータル・イクリプス  7.09
8                  僕のヒーローアカデミア THE MOVIE　ヒーローズ：ライジング  7.98
9                                       アクセル・ワールド EX   7.1

                                Genres  \
0                       Drama, Romance
1                                Drama
2  Action, Adventure, Fantasy, Romance
3                               Action
4                Comedy, Slice of Life
5                      Action, Fantasy
6                      Comedy, Romance
7                       Action, Sci-Fi
8                               Action
9              Action, Romance, Sci-Fi

                                            Synopsis     Type  ...  \
0   Unaired 13th episode released on the 7th DVD/BD.  Special  ...
1  Takehito Kumagami's clairvoyance leads his gro...  Special  ...
2  Ever since the release of the innovative Nerve...       TV  ...
3  U.A. High School's students of Class 1-A have ...    Movie  ...
4  Haruki Nakano lives an average high school lif...       TV  ...
5  Humans and demons are two sides of the same co...       TV  ...
6  One morning, Hachiman Hikigaya contemplates th...      OVA  ...
7  In 1973, following the ruthless six-year-long ...       TV  ...
8  Izuku "Deku'' Midoriya and his fellow students...    Movie  ...
9  Reverberation\r\nA mysterious avatar has hijac...      OVA  ...

            Studios        Source       Duration                     Rating  \
0         AIC Build  Visual novel         23 min  PG-13 - Teens 13 or older
1        P.A. Works      Original         24 min  PG-13 - Teens 13 or older
2      A-1 Pictures   Light novel  23 min per ep  PG-13 - Teens 13 or older
3             Bones         Manga    1 hr 36 min  PG-13 - Teens 13 or older
4  Creators in Pack  4-koma manga   3 min per ep  PG-13 - Teens 13 or older
5      A-1 Pictures         Manga  24 min per ep  PG-13 - Teens 13 or older
6      Brain's Base   Light novel         23 min  PG-13 - Teens 13 or older
7   Satelight, ixtl   Light novel  24 min per ep           R+ - Mild Nudity
8             Bones         Manga    1 hr 44 min  PG-13 - Teens 13 or older
9           Sunrise   Light novel  24 min per ep  PG-13 - Teens 13 or older

     Rank Popularity Favorites  Scored By  Members  \
0  4722.0       3397        18    19891.0    37648
1  1735.0       1219       282   101746.0   180861
2  3055.0          5     67014  2072240.0  2951821
3  1488.0        252      1392   440536.0   714356
4  6379.0       1759       123    54314.0   114927
5  1700.0         40     16692  1118263.0  1854727
6  1414.0        858       472   159844.0   260962
7  3575.0       2015       333    40484.0    93419
8   605.0        376      1796   315126.0   538265
9  3523.0       1790        97    58524.0   112187

                                           Image URL
0  https://cdn.myanimelist.net/images/anime/3/830...
1  https://cdn.myanimelist.net/images/anime/1709/...
2  https://cdn.myanimelist.net/images/anime/11/39...
3  https://cdn.myanimelist.net/images/anime/1736/...
4  https://cdn.myanimelist.net/images/anime/7/748...
5  https://cdn.myanimelist.net/images/anime/10/75...
6  https://cdn.myanimelist.net/images/anime/9/548...
7  https://cdn.myanimelist.net/images/anime/3/444...
8  https://cdn.myanimelist.net/images/anime/1019/...
9  https://cdn.myanimelist.net/images/anime/1451/...

[10 rows x 26 columns]

   anime_id                                               Name Score
0     18045            Koi to Senkyo to Chocolate: Koi Imouto!  6.83
1     31553                        Charlotte: Tsuyoimono-tachi  7.49
2     11757                                   Sword Art Online   7.2
3     36896  Boku no Hero Academia the Movie 1: Futari no Hero  7.56
4     30127                                          Danchigai   6.5
5      9919                                     Ao no Exorcist   7.5
6     18753  Yahari Ore no Seishun Love Comedy wa Machigatt...  7.59
7     11021                 Muv-Luv Alternative: Total Eclipse  7.09
8     39565   Boku no Hero Academia the Movie 2: Heroes:Rising  7.98
9     13939                                     Accel World EX   7.1

In [15]:
anime_id_to_check = 51462

# if anime_id_to_check in simCandidates.index:
#     print(f"Data with anime_id {anime_id_to_check} is present in simCandidates.")
# else:
#     print(f"Data with anime_id {anime_id_to_check} is not present in simCandidates.")

found = False
for position, anime_id in enumerate(simCandidates.index, start=1):
    if anime_id == anime_id_to_check:
        found = True
        break

if found:
    print(f"Anime ID {anime_id_to_check} is ranked #{position} in simCandidates.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in simCandidates.")

Anime ID 51462 is ranked #189 in simCandidates.

In [16]:
index_to_check = 14000

try:
    anime_id_at_index = simCandidates.index[index_to_check - 1]
    print(f"The anime ID at index {index_to_check} in simCandidates is {anime_id_at_index}.")
except IndexError:
    print(f"Index {index_to_check} is out of bounds for simCandidates.")

Index 14000 is out of bounds for simCandidates.