In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

C:\Users\Roze\AppData\Local\Temp\ipykernel_11916\4086620180.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data_clean = pd.read_csv("selected_users_data.csv", encoding="utf8")
anime_data = pd.read_csv("anime-dataset-2023.csv", encoding="utf8")

In [3]:
data_clean.head()

   user_id Username  anime_id                          Anime Title  rating
0      436  Katsuki      6408               "Bungaku Shoujo" Movie       8
1      436  Katsuki        48                          .hack//Sign       8
2      436  Katsuki      1487                        .hack//Unison       6
3      436  Katsuki      6682                               11eyes       6
4      436  Katsuki     32601  12-sai.: Chicchana Mune no Tokimeki       7

In [4]:
print(data_clean[data_clean['anime_id']  == 35790])

         user_id       Username  anime_id                  Anime Title  rating
1572         436        Katsuki     35790  Tate no Yuusha no Nariagari       3
4498        1475       otaku515     35790  Tate no Yuusha no Nariagari       8
7507        2152       leapylee     35790  Tate no Yuusha no Nariagari       8
10309       2276          Sitha     35790  Tate no Yuusha no Nariagari       8
14649       3380  Tracer_Senpai     35790  Tate no Yuusha no Nariagari       8
...          ...            ...       ...                          ...     ...
1482270  1281059      BakaKaito     35790  Tate no Yuusha no Nariagari      10
1483330  1281765    RaphaelRobo     35790  Tate no Yuusha no Nariagari       5
1484996  1283219       Spade_X3     35790  Tate no Yuusha no Nariagari       9
1486026  1286093       JadeRuby     35790  Tate no Yuusha no Nariagari       9
1488813  1288175           GPJW     35790  Tate no Yuusha no Nariagari       8

[659 rows x 5 columns]

In [5]:
userRatings = data_clean.pivot_table(index=['user_id'], columns=['anime_id'], values='rating')

In [6]:
userRatings.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,55591,55610,55616,55640,55647,55651,55676,55720,55818,55878
user_id,,,,,,,,,,,,,,,,,,,,,
436,10.0,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1105,NaN,NaN,NaN,8.0,8.0,9.0,8.0,8.0,8.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,8.0,8.0,9.0,8.0,6.0,NaN,7.0,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,9.0,9.0,7.0,8.0,NaN,2.0,9.0,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152,9.0,NaN,7.0,6.0,NaN,7.0,9.0,8.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
userRatings.shape

(1351, 14994)

In [7]:
# corrMatrix = userRatings.corr()
# corrMatrix.head()

In [8]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

224820036

In [14]:
corrMatrix.size
corrMatrix.shape

(14994, 14994)

In [9]:
# myRatings = userRatings.loc[9522].dropna()
# data_dict = {14813: 10, 37779: 10, 37430: 10, 2566: 2}
# data_dict = {17389: 8, 35790: 8, 1735: 9, 16498: 9}

new_ratings = []
for _ in range(5):  # Assume the user rates 5 animes (adjust as needed)
    anime_id = input("Enter Anime ID: ")
    rating = float(input("Enter Rating (between 1 and 10): "))
    new_ratings.append((int(anime_id), rating))

print(new_ratings)
print(dict(new_ratings))
myRatings = pd.Series(dict(new_ratings))
print(myRatings)
myRatings

[(17389, 8.0), (35790, 8.0), (1735, 9.0), (16498, 9.0), (14813, 5.0)]
{17389: 8.0, 35790: 8.0, 1735: 9.0, 16498: 9.0, 14813: 5.0}
17389    8.0
35790    8.0
1735     9.0
16498    9.0
14813    5.0
dtype: float64

17389    8.0
35790    8.0
1735     9.0
16498    9.0
14813    5.0
dtype: float64

In [10]:
anime_id_to_check = 2566

if anime_id_to_check in corrMatrix.columns:
    print(f"Anime ID {anime_id_to_check} is present in the correlation matrix.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in the correlation matrix.")

Anime ID 2566 is present in the correlation matrix.

In [43]:
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
    # print("Adding sims for " + str(myRatings.index[i]) + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    # sims = sims.map(lambda x: x * myRatings[i])
    sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
    # simCandidates = simCandidates.append(sims)
    simCandidates = pd.concat([simCandidates, sims])
    
print("sorting...")
simCandidates.sort_values(inplace= True, ascending= False)

user_input_anime_ids = [anime_id for anime_id, _ in new_ratings]
simCandidates = simCandidates[~simCandidates.index.isin(user_input_anime_ids)]
top_5_results = simCandidates.head(10)
anime_df = top_5_results.reset_index(name='weight_score')

# Merge with the anime_data DataFrame to retrieve title and score
result_df = pd.merge(anime_df, anime_data, how='left', left_on='index', right_on='anime_id')
print(result_df)
result_df = result_df[['anime_id', 'Name', 'Score']]

# Print the resulting DataFrame
result_df

sorting...
   index  weight_score  anime_id                                     Name  \
0     20      6.469236        20                                   Naruto
1    269      6.149403       269                                   Bleach
2  25777      6.050869     25777              Shingeki no Kyojin Season 2
3  18397      5.800070     18397                   Shingeki no Kyojin OVA
4  25781      5.731697     25781      Shingeki no Kyojin: Kuinaki Sentaku
5   1669      5.662688      1669              Bakuten Shoot Beyblade 2002
6   6702      5.618733      6702                               Fairy Tail
7  18045      5.606780     18045  Koi to Senkyo to Chocolate: Koi Imouto!
8  38524      5.519468     38524       Shingeki no Kyojin Season 3 Part 2
9  51462      5.510894     51462                     Isekai Nonbiri Nouka

                      English name             Other name Score  \
0                           Naruto                    ナルト  7.99
1                           Bleach        BLEACH - ブリーチ -  7.92
2         Attack on Titan Season 2          進撃の巨人 Season2   8.5
3              Attack on Titan OAD               進撃の巨人ＯＡＤ  7.87
4      Attack on Titan: No Regrets           進撃の巨人 悔いなき選択  8.41
5                 Beyblade V-Force      爆転シュート　ベイブレード2002   6.7
6                       Fairy Tail   FAIRY TAIL（フェアリーテイル）  7.57
7                          UNKNOWN  恋と選挙とチョコレート 第13話「恋妹！」  6.83
8  Attack on Titan Season 3 Part 2   進撃の巨人 Season3 Part.2  9.05
9    Farming Life in Another World              異世界のんびり農家  7.58

                                      Genres  \
0                 Action, Adventure, Fantasy
1                 Action, Adventure, Fantasy
2                    Action, Drama, Suspense
3                              Action, Drama
4                                     Action
5  Action, Adventure, Comedy, Sci-Fi, Sports
6                 Action, Adventure, Fantasy
7                             Drama, Romance
8                              Action, Drama
9                     Fantasy, Slice of Life

                                            Synopsis     Type  ...  \
0  Moments prior to Naruto Uzumaki's birth, a hug...       TV  ...
1  Ichigo Kurosaki is an ordinary high schooler—u...       TV  ...
2  For centuries, humanity has been hunted by gia...       TV  ...
3  Ilse no Techou: Aru Chousa Heidanin no Shuki\n...      OVA  ...
4  Many years before becoming the famed captain o...      OVA  ...
5  The Bladebreakers have to join forces once aga...       TV  ...
6  In the enchanted Kingdom of Fiore, the lively ...       TV  ...
7   Unaired 13th episode released on the 7th DVD/BD.  Special  ...
8  Seeking to restore humanity's diminishing hope...       TV  ...
9  During the final years of his life, Hiraku Mac...       TV  ...

                   Studios        Source       Duration  \
0                  Pierrot         Manga  23 min per ep
1                  Pierrot         Manga  24 min per ep
2               Wit Studio         Manga  24 min per ep
3               Wit Studio         Manga  23 min per ep
4               Wit Studio  Visual novel  27 min per ep
5         Nippon Animation         Manga  21 min per ep
6  Satelight, A-1 Pictures         Manga  24 min per ep
7                AIC Build  Visual novel         23 min
8               Wit Studio         Manga  23 min per ep
9                   Zero-G   Light novel  23 min per ep

                           Rating    Rank Popularity Favorites  Scored By  \
0       PG-13 - Teens 13 or older   599.0          8     76343  1883772.0
1       PG-13 - Teens 13 or older   686.0         39     68896  1069200.0
2  R - 17+ (violence & profanity)   128.0         12     20899  1761316.0
3  R - 17+ (violence & profanity)   781.0        470       897   258640.0
4  R - 17+ (violence & profanity)   169.0        418      1865   292266.0
5                   PG - Children  5346.0       2508       114    41573.0
6       PG-13 - Teens 13 or older  1479.0         49     45524   981322.0
7       PG-13 - Teens 13 or older  4722.0       3397        18    19891.0
8  R - 17+ (violence & profanity)     6.0         24     55245  1471825.0
9       PG-13 - Teens 13 or older  1439.0       1444      1199    69998.0

   Members                                          Image URL
0  2717330  https://cdn.myanimelist.net/images/anime/13/17...
1  1856976  https://cdn.myanimelist.net/images/anime/3/404...
2  2566796  https://cdn.myanimelist.net/images/anime/4/841...
3   442327  https://cdn.myanimelist.net/images/anime/9/592...
4   488704  https://cdn.myanimelist.net/images/anime/8/694...
5    65745  https://cdn.myanimelist.net/images/anime/1230/...
6  1681333  https://cdn.myanimelist.net/images/anime/5/181...
7    37648  https://cdn.myanimelist.net/images/anime/3/830...
8  2104016  https://cdn.myanimelist.net/images/anime/1517/...
9   148424  https://cdn.myanimelist.net/images/anime/1983/...

[10 rows x 26 columns]

C:\Users\Roze\AppData\Local\Temp\ipykernel_11916\1540976389.py:8: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = pd.concat([simCandidates, sims])

   anime_id                                     Name Score
0        20                                   Naruto  7.99
1       269                                   Bleach  7.92
2     25777              Shingeki no Kyojin Season 2   8.5
3     18397                   Shingeki no Kyojin OVA  7.87
4     25781      Shingeki no Kyojin: Kuinaki Sentaku  8.41
5      1669              Bakuten Shoot Beyblade 2002   6.7
6      6702                               Fairy Tail  7.57
7     18045  Koi to Senkyo to Chocolate: Koi Imouto!  6.83
8     38524       Shingeki no Kyojin Season 3 Part 2  9.05
9     51462                     Isekai Nonbiri Nouka  7.58

In [44]:
simCandidates = pd.Series()
for i in range(1, len(myRatings.index)):
    # print("Adding sims for " + str(myRatings.index[i]) + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    # sims = sims.map(lambda x: x * myRatings[i])
    sims = sims.map(lambda x: x * myRatings.loc[myRatings.index[i]])
    # simCandidates = simCandidates.append(sims)
    simCandidates = pd.concat([simCandidates, sims])
    
print(simCandidates.size)
# Check if there are any duplicates
has_duplicates = simCandidates.duplicated().any()

if has_duplicates:
    duplicate_values = simCandidates[simCandidates.duplicated()]
    print("Duplicate values:", duplicate_values)

simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates = simCandidates.drop(myRatings.index)

print("sorting...")
simCandidates.sort_values(inplace= True, ascending= False)

# user_input_anime_ids = [anime_id for anime_id, _ in new_ratings]
# simCandidates = simCandidates[~simCandidates.index.isin(user_input_anime_ids)]
top_5_results = simCandidates.head(10)
anime_df = top_5_results.reset_index(name='weight_score')

# Merge with the anime_data DataFrame to retrieve title and score
result_df = pd.merge(anime_df, anime_data, how='left', left_on='index', right_on='anime_id')
print(result_df)
result_df = result_df[['anime_id', 'Name', 'Score']]

# Print the resulting DataFrame
result_df

12285
Duplicate values: 1735     3.662376
16498    9.000000
dtype: float64
sorting...
   index  weight_score  anime_id  \
0  18045     16.830803     18045
1  11757     15.871798     11757
2   9919     15.677083      9919
3  36896     15.600579     36896
4  31553     15.528720     31553
5    269     15.429736       269
6  22043     15.318518     22043
7  26243     15.172410     26243
8   6702     15.128791      6702
9  21881     15.105696     21881

                                                Name  \
0            Koi to Senkyo to Chocolate: Koi Imouto!
1                                   Sword Art Online
2                                     Ao no Exorcist
3  Boku no Hero Academia the Movie 1: Futari no Hero
4                        Charlotte: Tsuyoimono-tachi
5                                             Bleach
6                                  Fairy Tail (2014)
7                                    Owari no Seraph
8                                         Fairy Tail
9                                Sword Art Online II

                       English name                           Other name  \
0                           UNKNOWN                恋と選挙とチョコレート 第13話「恋妹！」
1                  Sword Art Online                         ソードアート・オンライン
2                     Blue Exorcist                        青の祓魔師(エクソシスト)
3      My Hero Academia: Two Heroes  僕のヒーローアカデミア THE MOVIE ～2人の英雄（ヒーロー）～
4        Charlotte: The Strong Ones           Charlotte（シャーロット）特別篇 強い者たち
5                            Bleach                      BLEACH - ブリーチ -
6               Fairy Tail Series 2                 FAIRY TAIL（フェアリーテイル）
7  Seraph of the End: Vampire Reign                              終わりのセラフ
8                        Fairy Tail                 FAIRY TAIL（フェアリーテイル）
9               Sword Art Online II                      ソードアート・オンライン II

  Score                               Genres  \
0  6.83                       Drama, Romance
1   7.2  Action, Adventure, Fantasy, Romance
2   7.5                      Action, Fantasy
3  7.56                               Action
4  7.49                                Drama
5  7.92           Action, Adventure, Fantasy
6  7.65           Action, Adventure, Fantasy
7  7.49          Action, Drama, Supernatural
8  7.57           Action, Adventure, Fantasy
9   6.7  Action, Adventure, Fantasy, Romance

                                            Synopsis     Type  ...  \
0   Unaired 13th episode released on the 7th DVD/BD.  Special  ...
1  Ever since the release of the innovative Nerve...       TV  ...
2  Humans and demons are two sides of the same co...       TV  ...
3  U.A. High School's students of Class 1-A have ...    Movie  ...
4  Takehito Kumagami's clairvoyance leads his gro...  Special  ...
5  Ichigo Kurosaki is an ordinary high schooler—u...       TV  ...
6  The Grand Magic Games reaches its climax follo...       TV  ...
7  With the appearance of a mysterious virus that...       TV  ...
8  In the enchanted Kingdom of Fiore, the lively ...       TV  ...
9  A year after escaping Sword Art Online, Kazuto...       TV  ...

                   Studios        Source       Duration  \
0                AIC Build  Visual novel         23 min
1             A-1 Pictures   Light novel  23 min per ep
2             A-1 Pictures         Manga  24 min per ep
3                    Bones         Manga    1 hr 36 min
4               P.A. Works      Original         24 min
5                  Pierrot         Manga  24 min per ep
6     A-1 Pictures, Bridge         Manga  24 min per ep
7               Wit Studio         Manga  23 min per ep
8  Satelight, A-1 Pictures         Manga  24 min per ep
9             A-1 Pictures   Light novel  23 min per ep

                           Rating    Rank Popularity Favorites  Scored By  \
0       PG-13 - Teens 13 or older  4722.0       3397        18    19891.0
1       PG-13 - Teens 13 or older  3055.0          5     67014  2072240.0
2       PG-13 - Teens 13 or older  1700.0         40     16692  1118263.0
3       PG-13 - Teens 13 or older  1488.0        252      1392   440536.0
4       PG-13 - Teens 13 or older  1735.0       1219       282   101746.0
5       PG-13 - Teens 13 or older   686.0         39     68896  1069200.0
6       PG-13 - Teens 13 or older  1253.0        155     11878   537001.0
7  R - 17+ (violence & profanity)  1755.0         94     13330   697841.0
8       PG-13 - Teens 13 or older  1479.0         49     45524   981322.0
9       PG-13 - Teens 13 or older  5331.0         35      9227  1287086.0

   Members                                          Image URL
0    37648  https://cdn.myanimelist.net/images/anime/3/830...
1  2951821  https://cdn.myanimelist.net/images/anime/11/39...
2  1854727  https://cdn.myanimelist.net/images/anime/10/75...
3   714356  https://cdn.myanimelist.net/images/anime/1736/...
4   180861  https://cdn.myanimelist.net/images/anime/1709/...
5  1856976  https://cdn.myanimelist.net/images/anime/3/404...
6   954070  https://cdn.myanimelist.net/images/anime/3/605...
7  1275952  https://cdn.myanimelist.net/images/anime/5/734...
8  1681333  https://cdn.myanimelist.net/images/anime/5/181...
9  1902495  https://cdn.myanimelist.net/images/anime/1223/...

[10 rows x 26 columns]

C:\Users\Roze\AppData\Local\Temp\ipykernel_11916\3938410546.py:8: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  simCandidates = pd.concat([simCandidates, sims])

   anime_id                                               Name Score
0     18045            Koi to Senkyo to Chocolate: Koi Imouto!  6.83
1     11757                                   Sword Art Online   7.2
2      9919                                     Ao no Exorcist   7.5
3     36896  Boku no Hero Academia the Movie 1: Futari no Hero  7.56
4     31553                        Charlotte: Tsuyoimono-tachi  7.49
5       269                                             Bleach  7.92
6     22043                                  Fairy Tail (2014)  7.65
7     26243                                    Owari no Seraph  7.49
8      6702                                         Fairy Tail  7.57
9     21881                                Sword Art Online II   6.7

In [35]:
anime_id_to_check = 51462

# if anime_id_to_check in simCandidates.index:
#     print(f"Data with anime_id {anime_id_to_check} is present in simCandidates.")
# else:
#     print(f"Data with anime_id {anime_id_to_check} is not present in simCandidates.")

found = False
for position, anime_id in enumerate(simCandidates.index, start=1):
    if anime_id == anime_id_to_check:
        found = True
        break

if found:
    print(f"Anime ID {anime_id_to_check} is ranked #{position} in simCandidates.")
else:
    print(f"Anime ID {anime_id_to_check} is not present in simCandidates.")

Anime ID 51462 is ranked #10 in simCandidates.

In [31]:
index_to_check = 14000

try:
    anime_id_at_index = simCandidates.index[index_to_check - 1]
    print(f"The anime ID at index {index_to_check} in simCandidates is {anime_id_at_index}.")
except IndexError:
    print(f"Index {index_to_check} is out of bounds for simCandidates.")

Index 14000 is out of bounds for simCandidates.